<!DOCTYPE html>
  <html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Bubbler+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/fa/css/font-awesome.min.css">
    <link rel='stylesheet' href='/css/pre-style.css' />
  </head>
  <body>
    <nav class="navigation">
      <div class="navigation-container">
        <div class="pull-left navigation-nav">
          <ul class="navigation-list">
            <li><a class="active" href="/"><span class="fa fa-home"></span> Home</a></li>
            <li><a href="/students"><span class="fa fa-user-o"></span> Students</a></li>
            <li><a href="/teachers"><span class="fa fa-mortar-board"></span> Teachers</a></li>
        </div>
        <div class="navigation-logo">
          <div class="logo-brand"><img class="img-relay" src="/img/logo.png" /></div>
        </div>
        <div class="pull-right navigation-nav">
          <ul class="navigation-list">
            <li><a href="/news"><span class="fa fa-bell-o"></span> News</a></li>
            <li><a href="/admission"><span class="fa fa-university"></span> Enrollment</a></li>
            <li><a href="/signin"><span class="fa fa-key"></span> Login</a></li>
            <li><a href="/signup"><span class="fa fa-plus"></span> Sign Up</a></li>
        </div>
      </div>
    </nav>
    <div class="lms-banner">
      <div class="banner-overlay">
        <div class="banner-tag">
          <h1 class="tagline">Lorem ipsum dolor sit amet.</h1>
          <p>Monitor your child's performance from the comfort of your home.</p>
          <div class="button-group">
          <a href="/signin" class="button button-orange button-square button-outline-orange">Sign In</a>
          <a href="/admission" class="button button-square button-white">Enroll your child</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
