<!DOCTYPE html>
  <html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/fa/css/font-awesome.min.css">
    <link rel='stylesheet' href='/css/pre-style.css' />
  </head>
  <body>
    <nav class="navigation">
      <div class="navigation-container">
        <div class="pull-left navigation-nav">
          <ul class="navigation-list">
            <li><a href="/"><span class="fa fa-home"></span> Home</a></li>
            <li><a href="/students"><span class="fa fa-user-o"></span> Students</a></li>
            <li><a href="/teachers"><span class="fa fa-mortar-board"></span> Teachers</a></li>
        </div>
        <div class="navigation-logo">
          <div class="logo-brand"><img class="img-relay" src="/img/logo.png" /></div>
        </div>
        <div class="pull-right navigation-nav">
          <ul class="navigation-list">
            <li><a href="/news"><span class="fa fa-bell-o"></span> News</a></li>
            <li><a href="/admission"><span class="fa fa-university"></span> Admission</a></li>
            <li><a class="active" href="/login"><span class="fa fa-key"></span> Login</a></li>
            <li><a href="/signup"><span class="fa fa-plus"></span> Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="lms-login">
      <div class="lms-login-wrapper">
        <div class="lms-left">
          <h1 class="lms-heading">LMS</h1>
            <div class="lms-login-container">
              <form action="/signin" method="post">
                <div class="lms-form-group">
                 <span class="fa fa-user-o"></span>
                  <input type="text" name="username" class="lms-form-input" id="username" />
                </div>
                <div class="lms-form-group">
                  <span class="fa fa-key"></span>
                  <input type="password" name="password" class="lms-form-input" id="password" />
                </div>
                <div class="lms-form-group">
                  <input type="submit" class="lms-btn-green" value="Sign In" name="login" />
                </div>
                <p class="terms">By clicking submit you agree to our <a href="#">Terms and Conditions.</a></p>
              </form>
            </div>
        </div>
        <div class="lms-right"></div>
      </div>
    </div>
  </body>
